---
http_interactions:
- request:
    method: get
    uri: https://api.darwinex.com/darwininfo/2.0/products/DWC.4.20/candles?from=1595101548&resolution=1m&to=1595101542
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abc123
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"candles":[],"period":{"start":1595101548,"end":1595101542},"resolution":"1m","supportedResolutions":["1m"]}'
  recorded_at: Sun, 19 Jul 2020 15:24:32 GMT
recorded_with: VCR 6.0.0
