---
http_interactions:
- request:
    method: get
    uri: https://api.darwinex.com/investoraccountinfo/2.0/investoraccounts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abc123
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"id":1234,"available":10000.0,"availableToInvest":20000.0,"leverage":2.0,"equity":10000.0,"openPnL":0.0,"invested":0.0,"currency":"USD","maxRisk":10000.0,"risk":10000.0,"name":"DEMO","manager":null,"follower":null}]'
  recorded_at: Sun, 19 Jul 2020 15:43:25 GMT
recorded_with: VCR 6.0.0
