---
http_interactions:
- request:
    method: get
    uri: https://api.darwinex.com/darwininfo/2.0/products/DWC.4.20/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abc123
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"productName":"DWC.4.20","quote":65.98,"quoteDate":1595019600376,"buyAllowed":false,"sellAllowed":true,"conditionalBuyAllowed":false,"conditionalSellAllowed":true,"returnPercentage":0.0,"estimatedOpenDate":1595192700000,"traderEquity":10000.0,"status":"ACTIVE","username":"DarwinexLabs","description":"The
        performance fees generated by this DARWIN are returned back in full to the
        community through [Darwinian Dividends](https://blog.darwinex.com/introducing-darwinian-dividend/)  (or
        cash prizes) in the Darwinia competition.  To find out more, we recommend
        reading [this post about $DWC](http://blog.darwinex.com/dwc-introducing-hedging-darwin/)
        \n","confirmationDate":1494506940000,"migrationDate":null,"productReturn":-34.01,"drawdown":-45.86,"invested":113184.97,"currency":"EUR","numInvestors":17,"monthlyDivergenceInvestors":0.0,"returnRisk":-0.83,"communityDarwin":true,"averageDLeverage":1.46}'
  recorded_at: Sun, 19 Jul 2020 15:14:22 GMT
recorded_with: VCR 6.0.0
