---
http_interactions:
- request:
    method: get
    uri: https://api.darwinex.com/darwininfo/2.0/products?page=&per_page=&status=
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abc123
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":[{"productName":"AAE.4.6","shortName":"AAE","status":"DELETED","migrationDate":0,"validationDate":1491074214598,"resetDate":0,"currency":"USD"},{"productName":"AAE.5.6","shortName":"AAE","status":"ACTIVE","migrationDate":0,"validationDate":1491074214598,"resetDate":0,"currency":"USD"},{"productName":"AAF.4.13","shortName":"AAF","status":"DELETED","migrationDate":0,"validationDate":1491820838390,"resetDate":0,"currency":"USD"},{"productName":"AAG.4.15","shortName":"AAG","status":"DELETED","migrationDate":0,"validationDate":1491163200000,"resetDate":0,"currency":"EUR"},{"productName":"AAJ.4.12","shortName":"AAJ","status":"DELETED",[...]
