---
http_interactions:
- request:
    method: get
    uri: https://api.darwinex.com/trading/1.1/productmarket/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abc123
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"allowBuy":false,"allowConditionalBuy":true,"allowConditionalSell":true,"allowSell":false,"epochTimestampNextUpdate":1595192700000}'
  recorded_at: Sun, 19 Jul 2020 15:35:55 GMT
recorded_with: VCR 6.0.0
