---
http_interactions:
- request:
    method: get
    uri: https://api.darwinex.com/darwininfo/2.0/products?page=20&per_page=2&status=ACTIVE
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer abc123
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":[{"productName":"AEB.5.4","shortName":"AEB","status":"ACTIVE","migrationDate":1537662726000,"validationDate":1538988064731,"resetDate":0,"currency":"USD"},{"productName":"AEC.5.8","shortName":"AEC","status":"ACTIVE","migrationDate":0,"validationDate":1512994404273,"resetDate":0,"currency":"EUR"}],"pageable":{"sort":{"sorted":false,"unsorted":true,"empty":true},"offset":40,"pageNumber":20,"pageSize":2,"unpaged":false,"paged":true},"last":false,"totalPages":3223,"totalElements":6445,"sort":{"sorted":false,"unsorted":true,"empty":true},"first":false,"size":2,"number":20,"numberOfElements":2,"empty":false}'
  recorded_at: Sun, 19 Jul 2020 15:12:01 GMT
recorded_with: VCR 6.0.0
